<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de | Heladería Annia</title>
<link rel="stylesheet" href="../assets/css/acerca_de_nosotros.css">
</head>

<body>
    <header>
        <h1>Heladería Annia</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="sabores.html">Sabores</a></li>
                <li><a href="acerca_de_nosotros.html" class="activo">Acerca de</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="acerca">
            <h2>Acerca de Nosotros</h2>
            <p>Heladería Annia nació del amor por los sabores auténticos y la alegría de compartir momentos dulces. Desde nuestros inicios, hemos buscado crear experiencias únicas con helados hechos de manera artesanal y con ingredientes naturales.</p>

            <p>Cada color y cada textura refleja la creatividad, el cariño y la dedicación que ponemos en cada preparación. Queremos ser parte de tus momentos felices y refrescantes.</p>

            <img src="../assets/img/equipo.jpg" alt="Equipo de la heladería Annia" class="imagen-equipo">
        </section>
    </main>
<br>
<br>
    <footer>
        <p>&copy; 2025 Heladería Annia. Todos los derechos reservados.</p>
    </footer>
</body>
</html>