<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | Heladería Annia</title>
    <link rel="stylesheet" href="../assets/css/contactos.css">
</head>

<body>
    <header>
        <h1>Heladería Annia</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="menu.html">Menú</a></li>
                <li><a href="sabores.html">Sabores</a></li>
                <li><a href="acerca_de_nosotros.html">Acerca de</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="contacto">
            <h2>Contáctanos</h2>
            <form>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

                <button type="submit">Enviar</button>
            </form>
            <div class="info-contacto">
                <p> Calle 10 #5-23, Palmira, Valle del Cauca</p>
                <p> 310 555 1234</p>
                <p> Annia@gmail.com</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Heladería Annia. Todos los derechos reservados.</p>
    </footer>
</body>
</html>