<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladeria Annia</title>
    <link rel="stylesheet" href="../assets/css/style_1.css">
</head>
<body>
    <div class="container">
    <h1>Formulario de Contacto</h1>
    <p>Por favor, completa el siguiente formulario para ponerte en contacto con nosotros:</p>
    <h2>Formulario de contacto</h2>
    <div id="mensaje" class="mensaje"></div>
    <form id="contacto">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required>

        <label for="email">Correo Electrónico:</label><br>
        <input type="email" id="email" name="email" required>

        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" name="mensaje" rows="4" required>

        <input type="submit" value="Enviar">
    </form>
    </div>
</body>
</html>