body {
    font-family: Arial, sans-serif;
    background-color: #f8e9f4; /* Rosa pastel suave */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #5b4568; 
    margin-bottom: 25px;
}

/* Tarjetas superiores */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.card {
    background: #ffffff;
    padding: 18px;
    width: 180px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    color: #7a5a8d;
    font-size: 15px;
}

.card p {
    font-size: 20px;
    color: #4a3b47;
    margin-top: 10px;
}

/* Contenido principal */
.contenedor-principal {
    display: flex;
    gap: 25px;
}

/* Tabla */
.tabla-contenedor {
    width: 70%;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.tabla-contenedor h2 {
    color: #5b4568;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f4d6f3; 
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #f3c6e8;
}

tbody tr:hover {
    background-color: #f9d7ee;
    transition: 0.3s;
}

.img-producto {
    width: 35px;
}

/* Botones tabla */
.editar {
    background-color: #d2a7f2;
    border: none;
    padding: 7px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.eliminar {
    background-color: #f28bb6;
    border: none;
    padding: 7px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.editar:hover, .eliminar:hover {
    opacity: 0.8;
}

/* Formulario */
.formulario {
    width: 28%;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.formulario h3 {
    color: #7a5a8d;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #5b4568;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #e1c6e9;
}

.agregar {
    background-color: #f28bb6;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.agregar:hover {
    opacity: 0.9;
}