body {
    font-family: Arial, sans-serif;
    background: #FFF9EF; /* crema */
    margin: 0;
    padding: 0;
}

/* Línea pastel superior */
.color-line {
    width: 100%;
    height: 40px;
    background: #C7F2D0; /* verde pastel */
}

.container {
    width: 90%;
    max-width: 400px;
    background: #ffffff;
    padding: 30px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #004f4f;
}

.subtexto {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
    color: #444;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

input:focus {
    border-color: #8ED7C6; /* verde menta */
}

.btn-enviar {
    background: #8ED7C6; /* verde menta */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-enviar:hover {
    opacity: 0.9;
}

.volver {
    display: block;
    margin-top: 10px;
    color: #F06292; /* rosado */
    text-decoration: none;
    font-size: 14px;
}

.volver:hover {
    text-decoration: underline;
}