body {
    background: #f9cb43; /* Amarillo/Naranja del helado */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}
.card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}
.code-inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 25px 0;
}
.code-inputs input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #fdf189;
    border-radius: 8px;
}
button {
    background: #29d8f3; /* Cyan del helado */
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}