<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/productos.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/logo_01.png?v=2">
</head>
<body>

<header>
    <h1>Gestión de Productos • Heladería Annia</h1>

    {% if session['usuario_tipo'] == 1 %}
        <a href="{{ url_for('admin_panel') }}" class="button-volver">Volver al Panel</a>
    {% elif session['usuario_tipo'] == 2 %}
        <a href="{{ url_for('panel_trabajadores') }}" class="button-volver">Volver al Panel</a>
    {% endif %}
</header>

<main class="contenedor">
    <!-- ================= PRODUCTOS ================= -->
    <section>
        <h2>Agregar Producto</h2>

        <form method="POST"
              action="{{ url_for('crear_producto') }}"
              enctype="multipart/form-data">

            <input type="text" name="nombre" placeholder="Nombre del producto" required>
            <input type="number" name="precio" placeholder="Precio" required>
            <input type="number" name="numero_bolas" placeholder="Número de bolas" required>

            <label class="file-upload">
                Subir imagen
                <input type="file" name="imagen" accept="image/*" onchange="mostrarNombre(this)">
            </label>

            <span class="nombre-imagen">Ningún archivo seleccionado</span>

            <textarea name="descripcion" placeholder="Descripción"></textarea>
 
            <button type="submit">Guardar Producto</button>
        </form>

        <h3>Productos registrados</h3>

        <table class="tabla-productos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Bolas</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for p in productos %}
                <tr>
                    <td>{{ p.Id_producto }}</td>
                    <td data-label="Imagen">
                        {% if p.Imagen %}
                            <img src="{{ url_for('static', filename='img/' + p.Imagen) }}"
                                class="miniatura">
                        {% else %}
                            Sin imagen
                        {% endif %}
                    </td>
                    <td>{{ p.Nombre_producto }}</td>
                    <td>{{ p.Descripción }}</td>
                    <td>${{ p.Precio_producto }}</td>
                    <td>{{ p.Numero_bolas }}</td>

                    <td class="acciones">
                        <button type="button" class="btn-editar"
                        onclick="toggleEditarProducto('{{ p.Id_producto }}')">
                        Editar
                    </button>
                    
                    <button type="button" class="btn-eliminar" 
                    onclick="abrirModalEliminar(`{{ url_for('eliminar_producto', id_producto=p.Id_producto) }}`, `{{ p.Nombre_producto }}`)">
                    Eliminar
                </button>
            </td>
                </tr>

                <tr id="editar-producto-{{ p.Id_producto }}" style="display:none;">
                    <td colspan="7">

                        <form method="POST"
                              action="{{ url_for('editar_producto', id_producto=p.Id_producto) }}"
                              enctype="multipart/form-data">

                            
                        <div class="grupo-campo">
                            <label>Nombre del producto</label>
                            <input type="text"
                                name="nombre"
                                value="{{ p.Nombre_producto }}"
                                required>
                        </div>

                        <div class="grupo-campo">
                            <label>Precio</label>
                            <input type="number"
                                name="precio"
                                value="{{ p.Precio_producto }}"
                                required>
                        </div>

                        <div class="grupo-campo">
                            <label>Número de bolas</label>
                            <input type="number"
                                name="numero_bolas"
                                value="{{ p.Numero_bolas }}"
                                required>
                        </div>

                        <div class="grupo-campo">
                            <label>Descripción</label>
                            <textarea name="descripcion">{{ p.Descripción }}</textarea>
                        </div>

                        <div class="grupo-campo">
                            <label>Cambiar imagen</label>
                            <input type="file" name="imagen">
                        </div>

                        <button type="submit">
                            Guardar Cambios
                        </button>

                        </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- ================= SABORES ================= -->
    <section>

        <h2>Agregar Sabor</h2>

        <form method="POST"
              action="{{ url_for('crear_sabor') }}"
              enctype="multipart/form-data">

            <input type="text" name="nombre" placeholder="Nombre del sabor" required>

            <label class="file-upload">
                Subir imagen
                <input type="file" name="imagen" accept="image/*" onchange="mostrarNombre(this)">
            </label>

            <span class="nombre-imagen">Ningún archivo seleccionado</span>

            <textarea name="descripcion" placeholder="Descripción"></textarea>

            <button type="submit">Guardar Sabor</button>
        </form>

        <h3>Sabores existentes</h3>

        <table class="tabla-productos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>

                {% for s in sabores %}

                <tr>
                    <td>{{ s.Id_sabor }}</td>

                    <td>
                        {% if s.Imagen %}
                            <img src="{{ url_for('static', filename='img/' + s.Imagen) }}"
                                class="miniatura">
                        {% else %}
                            Sin imagen
                        {% endif %}
                    </td>

                    <td>{{ s.Nombre_sabor }}</td>
                    <td>{{ s.Descripción }}</td>

                    <td class="acciones">
                        <button type="button" class="btn-editar"
                        onclick="toggleEditarSabor('{{ s.Id_sabor }}')">
                        Editar
                    </button>
                    
                    <button type="button" class="btn-eliminar"
                    onclick="abrirModalEliminar(`{{ url_for('eliminar_sabor', id_sabor=s.Id_sabor) }}`, `{{ s.Nombre_sabor }}`)">
                    Eliminar
                </button>
            </td>
                </tr>

                <tr id="editar-sabor-{{ s.Id_sabor }}" style="display:none;">
                    <td colspan="5">

                        <form method="POST"
                            action="{{ url_for('editar_sabor', id_sabor=s.Id_sabor) }}"
                            enctype="multipart/form-data">

                            <div class="grupo-campo">
                                <label>Nombre del sabor</label>
                                <input type="text"
                                    name="nombre"
                                    value="{{ s.Nombre_sabor }}"
                                    required>
                            </div>

                            <div class="grupo-campo">
                                <label>Descripción</label>
                                <textarea name="descripcion">{{ s.Descripción }}</textarea>
                            </div>

                            <div class="grupo-campo">
                                <label>Cambiar imagen</label>
                                <input type="file" name="imagen">
                            </div>

                            <button type="submit">
                                Guardar Cambios
                            </button>

                        </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- ================= TOPPINGS ================= -->
    <section>

        <h2>Agregar Topping</h2>

        <form method="POST"
            action="{{ url_for('crear_topping') }}"
            enctype="multipart/form-data">

            <input type="text" name="nombre" placeholder="Nombre del topping" required>
            <input type="number" name="stock" placeholder="Stock" required>
            <label class="file-upload">
                Subir imagen
                <input type="file" name="imagen" accept="image/*" onchange="mostrarNombre(this)">
            </label>

            <span class="nombre-imagen">Ningún archivo seleccionado</span>

            <button type="submit">Guardar Topping</button>
        </form>

        <h3>Toppings existentes</h3>

        <table class="tabla-productos">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>

                {% for t in toppings %}

                {% if t.Nombre_toppings != 'Sin topping' %}

                <tr>

                    <td>{{ t.Id_toppings }}</td>

                    <td>
                        {% if t.Imagen %}
                            <img src="{{ url_for('static', filename='img/' + t.Imagen) }}"
                                class="miniatura">
                        {% else %}
                            Sin imagen
                        {% endif %}
                    </td>

                    <td>{{ t.Nombre_toppings }}</td>

                    <td>{{ t.stock }}</td>

                    <td class="acciones">
                        <button type="button" class="btn-editar"
                         onclick="toggleEditarTopping('{{ t.Id_toppings }}')">
                         Editar
                        </button>
                        
                        <button type="button" class="btn-eliminar"
                        onclick="abrirModalEliminar(`{{ url_for('eliminar_topping', id_topping=t.Id_toppings) }}`, `{{ t.Nombre_toppings }}`)">
                        Eliminar
                    </button>
                </td>

                </tr>

                <tr id="editar-topping-{{ t.Id_toppings }}" style="display:none;">
                    <td colspan="4">

                        <form method="POST"
                            action="{{ url_for('editar_topping', id_topping=t.Id_toppings) }}"
                            enctype="multipart/form-data">

                            <div class="grupo-campo">
                                <label>Nombre del topping</label>
                                <input type="text"
                                    name="nombre"
                                    value="{{ t.Nombre_toppings }}"
                                    required>
                            </div>

                            <div class="grupo-campo">
                                <label>Stock disponible</label>
                                <input type="number"
                                    name="stock"
                                    value="{{ t.stock }}"
                                    required>
                            </div>

                            <div class="grupo-campo">
                                <label>Cambiar imagen</label>
                                <input type="file" name="imagen">
                            </div>

                            <button type="submit">
                                Guardar Cambios
                            </button>

                        </form>

                    </td>
                </tr>

                {% endif %}
                {% endfor %}

            </tbody>

        </table>
    </section>

    <!-- ================= HISTORIAL ================= -->
    <section>

        <h2>Historial de cambios</h2>

        <table class="tabla-productos">

            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Acción</th>
                    <th>ID Registro</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                </tr>
            </thead>

            <tbody>

                {% for h in historial %}

                <tr>
                    <td>{{ h.Tipo }}</td>
                    <td>{{ h.Accion }}</td>
                    <td>{{ h.Registro_id }}</td>
                    <td>{{ h.Nombre }}</td>
                    <td>{{ h.Usuario }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </section>

</main>
<script>

function mostrarNombre(input) {
    const texto = input.files.length > 0
        ? "Imagen seleccionada: " + input.files[0].name
        : "Ningún archivo seleccionado";

    input.parentElement.nextElementSibling.textContent = texto;
}

function toggleEditarProducto(id){
    let fila = document.getElementById("editar-producto-" + id);

    if(fila.style.display === "none"){
        fila.style.display = "table-row";
    }else{
        fila.style.display = "none";
    }
}
function toggleEditarSabor(id){
    let fila = document.getElementById("editar-sabor-" + id);

    if(fila.style.display === "none"){
        fila.style.display = "table-row";
    }else{
        fila.style.display = "none";
    }
}

function toggleEditarTopping(id){
    let fila = document.getElementById("editar-topping-" + id);

    if(fila.style.display === "none"){
        fila.style.display = "table-row";
    }else{
        fila.style.display = "none";
    }
}
/*función para abrir el modal de confirmación de eliminación*/
function abrirModalEliminar(urlAccion, nombreElemento) {
    // 1. Le pasamos la ruta de Flask al formulario del modal
    document.getElementById('form-eliminar-modal').action = urlAccion;
    
    // 2. Cambiamos el texto para mostrar qué estamos borrando
    document.getElementById('modal-mensaje').textContent = `¿Estás seguro de que deseas eliminar "${nombreElemento}"?`;
    
    // 3. Mostramos el modal en pantalla
    document.getElementById('modal-eliminar').style.display = 'flex';
}

function cerrarModalEliminar() {
    // Oculta el modal si le dan a cancelar
    document.getElementById('modal-eliminar').style.display = 'none';
}

</script>
<div id="modal-eliminar" class="modal-personalizado" style="display: none;">
    <div class="modal-contenido">
        <h3>Confirmar eliminación</h3>
        <p id="modal-mensaje">¿Estás seguro de que deseas eliminar este elemento?</p>
        <div class="modal-acciones">
            <form id="form-eliminar-modal" method="POST" action="">
                <button type="submit" class="btn-confirmar-modal">Aceptar</button>
            </form>
            <button type="button" class="btn-cancelar-modal" onclick="cerrarModalEliminar()">Cancelar</button>
        </div>
    </div>
</div>
</div>
</body>
</html>