h1{
    background-color: #c99d71;
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 53, 26);
    margin-bottom: 10px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.6;
    margin-bottom: 10px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #555555;
}
.container{
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.error{
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.sucess{
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.message{
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}
