{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acerca_de_nosotros.css') }}">
{% endblock %}
{% block content %}
    <main>
        <section id="acerca">
            <h2>Acerca de Nosotros</h2>
            <p>Heladería Annia nació del amor por los sabores auténticos y la alegría de compartir momentos dulces. Desde nuestros inicios, hemos buscado crear experiencias únicas con helados hechos de manera artesanal y con ingredientes naturales.</p>

            <p>Cada color y cada textura refleja la creatividad, el cariño y la dedicación que ponemos en cada preparación. Queremos ser parte de tus momentos felices y refrescantes.</p>

            <img src="{{ url_for('static', filename='img/equipo.png') }}" alt="Equipo de la heladería Annia" class="imagen-equipo">
            </section>
    </main>
    <br><br>
{% endblock %}
{% block scripts %}
    <script>   // ────────── Verifica si el usuario está logueado ──────────
        const usuarioLogueado = "{{ 'true' if session.get('usuario_nombre') else 'false' }}" === "true"
    </script>
{% endblock %}