<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel Admin - Heladería Annia</title>
</head>
<body>
<header>
    <img src="/static/logo.png" alt="Logo Annia" />
    <h1>Panel de Administración • Heladería Annia</h1>
</header>
<div class="sidebar">
    <h3>Menú</h3>
    <a href="PEDIDOS.HTML"> Pedidos</a>
    <a href="PRODUCTOS.HTML"> Productos</a>
    <a href="CLIENTES.HTML"> Clientes</a>
    <a href="REPORTES.HTML">Reportes</a>
    <a href="#">Usuarios / Trabajadores</a>
</div>
<div class="main">
    <h2 style="color:#b51773; font-size:28px;">Bienvenido, Administrador</h2>
    <p style="color:#7a2c63; margin-bottom:35px;">Gestiona toda la heladería de forma rápida y visual.</p>
    <div class="cards">
        <div class="card"> Gestión de Pedidos</div>
        <div class="card"> Control de Productos</div>
        <div class="card"> Lista de Clientes</div>
        <div class="card"> Reportes Generales</div>
        <div class="card"> Configuración</div>
        <div class="card"> Trabajadores / Roles</div>
    </div>
</div>
</body>
</html>