<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladería Annia</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/logo_01.jpeg" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Barra de Navegación con Logo</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <nav class="barra-navegacion">
        <a href="index.html" class="logo-link">
            <img src="../static/img/logo.png" alt="Logo de la Heladería Anna" class="logo">
        </a>

        <ul class="menu-principal">
            <li><a href="registrarse.html">Registrarse</a></li>
            <li><a href="inicio_seccion.html">Iniciar seccion</a></li>
        </ul>
    </nav>

</body>


<body>
    <header>
        <div class="caja"></div>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="menu.html">Menú</a></li>
                <li><a href="sabores.html">Sabores</a></li>
                <li><a href="acerca_de_nosotros.html">Acerca de</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Sección de bienvenida -->
        <section id="inicio">
            <h2>Bienvenidos a Heladería Annia</h2>
            <p>Descubre el sabor de la felicidad en cada cucharada. Helados artesanales, cremosos y llenos de color.</p>
            <img src="../static/img/logo_01.png" alt="Heladería Annia" class="imagen-principal">
        </section>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <p>&copy; 2025 Heladería Annia. Todos los derechos reservados.</p>
    </footer>
</body>
</html>