<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Paso 3: Nueva Contraseña</title>
    <link rel="stylesheet" href="../static/css/nueva_contra.css">
</head>
<body>
    <div class="card">
        <div class="icon">🔒</div>
        <h1>Crea tu nueva clave</h1>
        <form>
            <div class="field">
                <label>Nueva Contraseña</label>
                <input type="password" placeholder="••••••••" required>
            </div>
            <div class="field">
                <label>Confirmar Contraseña</label>
                <input type="password" placeholder="••••••••" required>
            </div>
            <button type="submit">Actualizar y Entrar</button>
        </form>
    </div>
</body>
</html>