<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Paso 3: Nueva Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nueva_contra.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="icono-principal" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
</svg>
        <h1>Crea tu nueva clave</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('nueva_contra') }}" method="POST">
            <div class="field">
                <label>Nueva Contraseña</label>
                <input type="password" name="nueva" placeholder="••••••••" required>
            </div>
            <div class="field">
                <label>Confirmar Contraseña</label>
                <input type="password" name="confirmar" placeholder="••••••••" required>
            </div>
            <button type="submit">Actualizar y Entrar</button>
        </form>
    </div>
</body>
</html>