<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/panel_trabajadores.css">
    <title>Panel de Trabajadores - Heladería Annia</title>

</head>
<body>
<header>
    <img src="../static/img/logo.png" alt="Logo Annia" />
    <h1>Panel de Trabajadores • Heladería Annia</h1>
</header>
<div class="sidebar">
    <h3>Menú</h3>
    <a href="PEDIDOS.HTML"> Pedidos</a>
    <a href="PRODUCTOS.HTML"> Productos</a>
</div>
<div class="main">

    <h2 style="color:rgb(154, 92, 212); font-size:28px;"></h2>
<h2 class="typewriter">Bienvenido Trabajador</h2>
  
    <p style="color:#7a2c63; margin-bottom:35px;">Gestiona los pedidos y los productos de forma rápida y visual.</p>

    </div>
</div>
</body>
</html>