<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="../static/css/pedidos.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Pedidos</h1>

    <div class="tabla-contenedor">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#001</td>
                    <td>Sofía Gómez</td>
                    <td>$18.500</td>
                    <td>Entregado</td>
                </tr>
                <tr>
                    <td>#002</td>
                    <td>Juan López</td>
                    <td>$12.000</td>
                    <td>Preparando</td>
                </tr>
                <tr>
                    <td>#003</td>
                    <td>María Ruiz</td>
                    <td>$25.000</td>
                    <td>En camino</td>
                </tr>
            </tbody>
        </table>
        <!-- Botón ABAJO en rosado oscuro -->
        <div class="text-center mt-4">
        <a href="{{ url_for('admin_panel') }}" class="btn btn-pink-dark">Volver al inicio</a>
        </div>
    </div>
</body>
</html>