<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reportes</title>
    <link rel="stylesheet" href="../static/css/reportes.css">
</head>
<body>
    <div class="contenedor">
        <h2>Reportes</h2>
        <div class="card">
            <h3>Ventas por sabor </h3>
            <!-- Vainilla -->
            <p>Vainilla — 70%</p>
            <div class="barra">
                <div class="progreso p70"></div>
            </div>
            <!-- Chocolate -->
            <p>Chocolate — 55%</p>
            <div class="barra">
                <div class="progreso p55"></div>
            </div>
            <!-- Fresa -->
            <p>Fresa — 40%</p>
            <div class="barra">
                <div class="progreso p40"></div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="admin_panel.html" class="btn btn-pink-dark">Volver al inicio</a>
        </div>
    </div>
</body>
</html>