<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabores | Heladería Annia</title>
    <link rel="stylesheet" href="../assets/css/sabores.css">
</head>

<body>
    <header>
        <h1>Heladería Annia</h1>
        <nav> <!-- Navegación -->
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="menu.html">Menú</a></li>
                <li><a href="sabores.html">Sabores</a></li>
                <li><a href="acerca_de_nosotros.html">Acerca de</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Sabores -->
        <section id="sabores">
            <h2>Nuestros Sabores</h2>
            <p>Descubre la variedad de sabores que tenemos para ti, elaborados artesanalmente con ingredientes naturales.</p>

            <div class="galeria-sabores">
                <article>
                    <img src="../assets/img/brownie.jpg" alt="Brownie">
                    <h3>Brownie</h3>
                    <p>Clásico, suave y delicioso.</p>
                </article>

                <article>
                    <img src="../assets/img/helado_chocolate.jpg" alt="Helado de chocolate">
                    <h3>Chocolate</h3>
                    <p>Intenso y cremoso para los amantes del cacao.</p>
                </article>

                <article>
                    <img src="../assets/img/fresas_crema_promocional.jpg" alt="Fresas con crema">
                    <h3>Fresas con crema</h3>
                    <p>Hecho con fresas naturales.</p>
                </article>

                <article>
                    <img src="../assets/img/Banana_split.png" alt="Banana split">
                    <h3>Banana split</h3>
                    <p>Refrescante sabor tropical.</p>
                </article>

                <article>
                    <img src="../assets/img/waffle.jpg" alt="Waffle">
                    <h3>Waffle</h3>
                    <p>Cremoso con trozos de galleta.</p>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Heladería Annia. Todos los derechos reservados.</p>
    </footer>
</body>
</html>