<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Trabajadores - Heladería Annia</title>
    <link rel="stylesheet" href="../static/css/trabajadores.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>

    <div class="color-line"></div>

    <div class="container">
        <h1>Gestión de Trabajadores</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>001</td>
                    <td>Ana Pérez</td>
                    <td>ana@heladeria.com</td>
                    <td>Vendedora</td>
                    <td>
                        <button class="btn-rol">Cambiar rol</button>
                        <button class="btn-eliminar">Eliminar</button>
                    </td>
                </tr>

                <tr>
                    <td>002</td>
                    <td>Carlos López</td>
                    <td>carlos@heladeria.com</td>
                    <td>Producción</td>
                    <td>
                        <button class="btn-rol">Cambiar rol</button>
                        <button class="btn-eliminar">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn-agregar">Agregar nuevo trabajador</button>
    </div>
        <a href="{{ url_for('admin_panel') }}" class="btn btn-pink-dark">Volver al inicio</a>
</body>
</html>